# Default ignored files
/../../JDBC_MiniEccommerce./.idea/shelf/
/../../JDBC_MiniEccommerce./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../JDBC_MiniEccommerce./.idea/httpRequests/
# Datasource local storage ignored files
/../../JDBC_MiniEccommerce./.idea/dataSources/
/../../JDBC_MiniEccommerce./.idea/dataSources.local.xml
